<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
    <%-include("./partials/navBar") -%>
    <div class="card w-50 mx-auto my-5 p-2 text-bg-warning">
        <h2 class="card-title">Login de usuario</h2>
        <form id="formUsuario" action="/api/login" method="post">
            <input type="email" name="email" placeholder="Ingrese su email" class="form-control">
            <input type="password" name="password" placeholder="Ingrese su password" class="form-control mt-2">
            <button class="btn btn-dark mt-2">Ingresar</button>
            <button class="btn btn-dark mt-2"><a class="text-decoration-none text-white" href="/api/registration">Ir a Register</a></button>
        </form>
    </div>
</body>
</html>