
<div class="card text-success bg-success p-4 w-50 mx-auto mt-5 d-flex flex-row justify-content-between"  style="--bs-bg-opacity: .5;">
        <h2>Bienvenido <%= user.email%></h2>
        <button class="btn btn-warning" onclick="location.href = '/api/logout'">Desloguear</button>
</div>